<div class="card" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
  <div class="card-body">
    <h5 class="card-header">{{_player?.name}} <h6 class="card-subtitle mb-2 text-muted">{{_player?.team}} - {{_player?.position}}</h6> </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Hits: {{_player?.hits}}</li>
        <li class="list-group-item">Homeruns: {{_player?.homeruns}}</li>
        <li class="list-group-item">Average: {{_player?.battingAvg}}</li>
      </ul>
  </div>
</div>